html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
button {
    font-family: 'Lato', sans-serif;
    background: #01996d;
    border: 0;
    border-radius: 4px;
    padding: 13px 48px;    
    letter-spacing: -0.02em;
    width: 184px;
    height: 51px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 7px;
}
.header {
}
.header_top {
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top img {
    align-self: center;
}
.nav {
    margin-right: 153px;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 72px;
    font-weight: 500;
}
.nav ul a {
    text-decoration: none;
}
.userblock {
    display: flex;
    gap: 37px;
}
#main {
    min-height: 895px;
    background: url(../img/header-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}
#main .description {
    max-width: 440px;
    padding-top: 175px;
}
h1 {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 65px;
    color: #01996d;
    margin-top: 0;
    margin-bottom: 31px;
}
#main .description p {
    max-width: 420px;
    line-height: 1.45;
    margin-bottom: 46px;
    letter-spacing: 0.1px;
    color: #484848;
}
#main .description button {
    width: 227px;
    height: 65px;
    font-family: 'Lato', sans-serif;
}
#steps {

}
#steps .container {
    max-width: 1371px;
    /* padding: 0 20px; */
    padding-top: 173px;
}
.howitworks .description {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
#steps .howitworks .subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.57;
    color: #01996d;
    margin-top: 0;
    max-width: 571px;
}
#steps .howitworks .text {
    font-weight: 500;
    line-height: 1.54;    
    max-width: 651px;
    width: 100%;
    letter-spacing: 0.2px;
}
#steps .howtosteps {
    display: flex;
    justify-content: start;
    margin-top: 115px;
    gap: 95px;
}
#steps .steps {
    max-width: 392px;
    position: relative;
}
#steps .steps:nth-child(1) {
}
#steps .steps:nth-child(2) {
    margin-top: 287px;
}
#steps .steps:nth-child(3) {
    margin-top: 55px;
}
#steps h3 {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.54;  
    color: #000;
}
#steps .steps:nth-child(1) h3 {
    margin-left: 88px;
}
#steps .steps:nth-child(2) h3 {
    margin-left: 79px;
}
#steps .steps:nth-child(3) h3 {
    margin-left: 123px;
}
#steps .steps h3::before {
    content: "";
    position: absolute;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 1.5;
    color: rgba(1, 153, 109, 0.2);
    top: -106px;
}
#steps .steps:nth-child(1) h3::before {
    content: "01";
    left: 0;
}
#steps .steps:nth-child(2) h3::before {
    content: "02";
    left: -5px;
}
#steps .steps:nth-child(3) h3::before {
    content: "03";
    left: 0;
}
#steps .steps p {
    margin-top: 56px;
    margin-bottom: 60px;
    line-height: 1.47;
    letter-spacing: 0.2px;
}
#steps .steps:nth-child(1) p {
    margin-bottom: 60px;
}
#steps .steps:nth-child(2) p {
    margin-bottom: 36px;
}
#steps .steps:nth-child(3) p {
    margin-top: 46px;
    margin-bottom: 47px;
}



